<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Show Groups</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-around">
            {% for group in groups %}
                <div class="col-3 bg-dark text-white m-2">
                    <h4><span class="text-warning">group name: </span>{{group.name}}</h4>
                    <h4><span class='text-warning'>permission: </span>{{group.permission}}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>